header{
    grid-area: header;
    background-color: #2a5ea5;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
// create brnach
// push brancg
//pull request

//mearge l master(main)
//checkout master
//pull master(main) that marged







